<footer class="footer">
  <div class="footer-widgets">
      <div class="container">
          <div class="row"> 
              <div class="col-md-4">  
                  <div class="widget widget_text boxHeight">
                      <h5 class="widget-title">O nama</h5>
                      <div class="textwidget">
                          <p>Naša ordinacija okuplja vrhunski tim stomatologa i zubotehničara koji su spremni odgovoriti na sve vaše zahtjeve.</p>
                      </div>
                  </div><!-- /.widget -->      
              </div><!-- /.col-md-4 --> 

               <div class="col-md-4">  
                  <div class="widget widget_text boxHeight">
                      <h5 class="widget-title">Kontakt</h5>
                      <div class="textwidget">                               
                          <p>
                              <i class="fa fa-location-arrow" aria-hidden="true"></i>  Adresa: Alifakovac 5<br>
                              <i class="fa fa-envelope" aria-hidden="true" style="font-size:13px;"></i>  Email: Admin@example.com<br>
                              <i class="fa fa-phone" aria-hidden="true"></i>  Telefon: +387 33 23 24 25
                          </p>
                      </div>
                  </div><!-- /.widget -->      
              </div><!-- /.col-md-4 -->

               <div class="col-md-4">  
                  <div class="widget widget_text boxHeight">                            
                      <h5 class="widget-title">Radno vrijeme:</h5>
                      <div class="textwidget">                                
                          <p>
                              <i class="fa fa-clock-o" aria-hidden="true"></i> Ponedjeljak - Petak: 09:00 - 17:30 <br>
                              <i class="fa fa-clock-o" aria-hidden="true"></i> Subota: 09:00 - 12:00 <br>
                          </p>
                      </div>
                  </div><!-- /.widget -
->      
              </div><!-- /.col-md-4 -->

          </div><!-- /.row -->    
      </div><!-- /.container -->
  </div><!-- /.footer-widgets -->   
  </div>         
</footer> 

<!-- Bottom -->
<div class="bottom">
  <div class="container">
      <div class="row">
          <div class="col-md-12 text-center">
              <div class="copyright"> 
                  <p>Copyright ©2017  
                  <a href="" target = "_blank">Faris Bilalagić</a> All Rights Reserved.</p>
              </div>                   
          </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
  </div><!-- /.container -->
</div> 
