/* Footer
-------------------------------------------------------------- */
footer {
	background-color: #191919;
	padding: 115px 0 78px;
	color: #858585;
	position: relative;
}
/* Footer widget
-------------------------------------------------------------- */
.footer-widgets .widget  {
	border: 1px solid #282828;
	padding: 66px 30px 72px 40px;
}

.footer-widgets .widget.widget_text .textwidget {
	line-height: 28px;
}

.boxHeight{
    height: 300px;
}

.footer-widgets .widget .widget-title {
	font-family: "Lato", sans-serif;
	font-size: 17px;
	line-height: normal;
	font-weight: 700;
	color: #fff;
	position: relative;
	margin-bottom: 25px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-left: 30px;
    padding-top: 9px;
}

.footer-widgets .widget .widget-title:before {
	width: 20px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	left: 0;
	top: 19px;
	content: "";
}

.footer-widgets .widget.widget_text .textwidget img {
	margin-bottom: 17px;
}

/* Bottom
-------------------------------------------------------------- */
.bottom {
	background-color: #101010;
	color: #858585;
	padding: 12px 0;	
}

.bottom .copyright a {
	color: #fff;
}

.bottom .copyright a:hover {
	color: #2bb0ef;
}

@media (max-width: 650px) {
    .footer, .bottom, .widget.widget_text {
        width: 100%;
        font-size:13px;
    }
    .widget-title{
        font-size: 15px;
    }
    .widget{
        width: 100%;
    }
    .footer-widgets .widget {
        width: 100%;
    }
}

 