<img src="../../assets/s7.jpg" alt="picture" width="100%" height="550" class="img-fluid">
<div class="container">
  <div style="height: 500px; width: 500px; margin: auto; margin-top: 100px;">
    <form style="width: 300px;">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary" routerLink="/admin">Submit</button>
    </form> 
  </div>
</div>