<div class="jumbotron jumbotron-fluid" style="margin-bottom: -30px;">
    <div class="container" style=" text-align:center;">
      <h1 class="display-3 text-center">O projektu</h1>
      <p class="lead text-center">Projekt „Škole za sve” je projekt koji je usmjeren osobama koji se nalaze na marginama društva, a to su osobe sa invaliditetom. Izradili smo web stranicu koja pruža informacije o tome koje su škole u BiH prilagođene osobama sa invaliditetom. 
          Glavni problemi su nepostojanje svijesti o potrebama i uključenosti osoba sa invaliditetom u obrazovni sustav, kao i nepostojanje evidencije o pristupačnosti škola takvim osobama. Među kriterijima za pristupačnost obrazovnih institucija su među ostalom, odnosno adekvatan pristup takvim ustanovama, podrazumijevaju:
          - Prostorna pokretljivost
          - Prelazne rampe
          - Lift
          - Toalet prilagođen osobama sa invaliditetom
          Web aplikacija na jednom mjestu nudi sve</p>
    </div>
  </div>