<div class="container">
  <div class="row" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="col-4  ">
      <form class="form-group">
        <label for="" class="control-label">Dodajte grad:</label>
        <div class="col-sm-6">
          <input type="text" name="" value="" placeholder="Grad">
          <button type="button" class="btn btn-primary">Dodaj</button>
        </div>
      </form>
    </div>

    <div class="col-4">
        <form class="form-group">
            <label for="" class="control-label">Unesi nivo obrazovanja:</label>
            <div class="col-sm-6">
              <input type="text" name="" value="" placeholder="Obrazovanje">
              <button type="button" class="btn btn-primary">Dodaj</button>
            </div>
          </form>
    </div>

    <div class="col-4">
        <form class="form-group">
            <label for="" class="control-label">Unesi tip invaliditeta:</label>
            <div class="col-sm-6">
              <input type="text" name="" value="" placeholder="Invaliditet">
              <button type="button" class="btn btn-primary">Dodaj</button>
            </div>
          </form>
    </div>

  </div>


  <form class="form-group col-7">
      <label for="" class="control-label">Dodajte naziv:</label>
      <div class="col-sm-6">
        <input type="text" name="" value=""  placeholder="Naziv">
        <button type="button" class="btn btn-primary" style="">Dodaj</button>
      </div>
      <div class="form-group">
          <label for="comment">Kratke informacije: </label>
          <textarea class="form-control" rows="3" id="shortInfo"></textarea>
      </div>
      <div class="form-group">
          <label for="comment">Opširne informacije: </label>
          <textarea class="form-control" rows="5" id="detailedInfo"></textarea>
      </div>

      <div class="form-group col-8">
          <label for="gender1" class="control-label">Grad: </label>
          <div class="col-sm-8">
          <select class="form-control" id="school">
            <option></option>
          </select>    
                
            
          </div>
        </div>
    </form>
</div>
