<img src="../../assets/s7.jpg" alt="picture" width="100%">

<div class="jumbotron jumbotron-fluid">
  <div class="container" style=" text-align:center;">
    <h1 class="display-3 text-center">Škole za sve</h1>
    <p class="lead text-center">Web-stranica koja osobama sa invaliditetom daje informacije o tome koje su škole u BiH prilagođene za njih.</p>
    <i class="fa fa-chevron-down" aria-hidden="true"></i>
  </div>
</div>

<div class="container">
<div class="row">
  <div class="col-4">
  <div class="form-group text-center ">
    <label for="gender1" class="control-label lead"><i class="fa fa-map-marker" aria-hidden="true" style="font-size: 20px; padding-right: 5px;"></i>Odaberite grad: </label>
    <div>
    <select class="form-control" id="city">
      <option>Sarajevo</option>
      <option>Zenica</option>
      <option>Mostar</option>
      <option>Banja Luka</option>
    </select>          
      
    </div>
  </div>
</div>

<div class="col-4">
<div class="form-group text-center">
  <label for="gender1" class="control-label lead"><i class="fa fa-graduation-cap" aria-hidden="true" style="font-size: 20px; padding-right: 5px;"></i>Nivo obrazovanja: </label>
  <div>
  <select class="form-control" id="school">
    <option>Osnovna škola</option>
    <option>Srednja škola</option>
    <option>Fakultet</option>
  </select>          
    
  </div>
</div>
</div>

<div class="col-4">
<div class="form-group text-center">
  <label for="gender1" class="control-label lead"><i class="fa fa-wheelchair" aria-hidden="true" style="font-size: 20px; padding-right: 5px;"></i>Kategorija invaliditeta: </label>
  <div>
  <select class="form-control" id="disability">
    <option>Oštećenja sluha</option>
    <option>Oštećenja vida</option>
    <option>Motorički poremećaj</option>
    <option>Kronične bolesti</option>
    <option>Specifične teškoće učenja</option>
    <option>Psihičke bolesti i poremećaji</option>
  </select>          
    
  </div>
</div>
</div>

</div>

<div class="bg-light filterContainer">
  <div class="filterDiv">
    <label for="gender1" class="control-label lead">Filteri: </label><br>
    <form>
        <div class="checkbox">
          <label><input type="checkbox">Prostorna pristupačnost</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox">Pokretna rampa</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox">Lift</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox">Adekvatna rasvjeta</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox">Pristup parking mjestima</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox">Prilagođeni sanitarni čvor</label>
        </div>
      </form>
  </div>
  <div class="resultDiv">

  </div>
</div>

</div>

